<div class="container">
  <form class="navbar-form navbar-right" role="search">
    <div class="form-group", id="form-search">
      <%= form_tag(videos_path, :method => "get", class: "navbar-form navbar-right") do %>
      <em><%= text_field_tag :search, params[:search], placeholder: "Search Videos...", class: "form-control" %></em>
        <%= submit_tag "Search", :name => nil, class: "btn-sm btn-primary" %>
      <% end %>
    </div>
  </form>
</div>
<div class="container">
    <h1>Gigaton Punch</h1>
    <p>Post your tournament replays</p>
    <p>
      <%= link_to 'Add video now!', new_video_path, class: 'btn btn-primary btn-lg' %>
    </p>
</div>

<% if @videos.any? %>
  <div class="container">
    <h1>Latest videos</h1>

    <div id="player-wrapper"></div>

    <% @videos.in_groups_of(4) do |group| %>
      <div class="row">
        <% group.each do |video| %>
          <% if video %>
            <div class="col-md-4">
              <div class="yt_video thumbnail">
                <%= image_tag "https://img.youtube.com/vi/#{video.uid}/mqdefault.jpg", alt: video.title,
                              class: 'yt_preview img-rounded', :"data-uid" => video.uid %>

                <div class="caption">
                  <h5><%= video.title %></h5>
                  <p>Author: <b><%= video.author %></b></p>
                  <p>Duration: <b><%= video.duration %></b></p>
                  <p>Tags: <b><%= video.tags %></b></p>
                  <p>
                    <span class="glyphicon glyphicon glyphicon-thumbs-up"></span> <%= video.likes %>
                    <span class="glyphicon glyphicon glyphicon-thumbs-down"></span> <%= video.dislikes %>
                  </p>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
<%= will_paginate @video %>
