<div class="container">
  <img src="/assets/gigatonpunchlogo.png" height="25%" width="25%">
  <%= link_to 'Post Your Tournament Replays', new_video_path, class: 'btn btn-primary btn-lg' %>
  <p><em>a compilation of the best fighting game replays of all time</em></p>
</div>

<% if @videos.any? %>
  <div class="container">
    <h1>Latest videos</h1>

    <div id="player-wrapper"></div>
    <br>
    <% @videos.in_groups_of(3) do |group| %>
      <div class="row">
        <% group.each do |video| %>
          <% if video %>
            <div class="col-md-4">
              <div class="yt_video thumbnail">
                <%= image_tag "https://img.youtube.com/vi/#{video.uid}/mqdefault.jpg", alt: video.title, class: 'yt_preview img-rounded', :"data-uid" => video.uid %>
                <div class="caption">
                  <h5><%= video.title %></h5>
                  <p>Author: <b><%= video.author %></b></p>
                  <p>Duration: <b><%= video.duration %></b></p>
                  <div id="tags"><p>Tags: <b><%= video.tags %></b></div></p>
                  <p>
                    <span class="glyphicon glyphicon glyphicon-thumbs-up"></span> <%= video.likes %>
                    <span class="glyphicon glyphicon glyphicon-thumbs-down"></span> <%= video.dislikes %>
                  <%= link_to 'View Video', video_path(video), class: "btn-sm btn-primary" %>|
                  </p>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div><br>
    <% end %>
  <%= will_paginate @video %>
  </div>
<% end %>
